@import "tailwindcss";


@theme {
    --color-primary-50: #e6f7f4;
    --color-primary-100: #ccefe9;
    --color-primary-200: #99dfd3;
    --color-primary-300: #66cfbd;
    --color-primary-400: #33bfa7;
    --color-primary-500: #026C53;
    --color-primary-600: #025642;
    --color-primary-700: #014031;
    --color-primary-800: #012a21;
    --color-primary-900: #011410;

    --color-neutral-50: #f8f8f8;
    --color-neutral-100: #f3f2f1;
    --color-neutral-200: #edebe9;
    --color-neutral-300: #e1dfdd;
    --color-neutral-400: #d2d0ce;
    --color-neutral-500: #c8c6c4;
    --color-neutral-600: #a19f9d;
    --color-neutral-700: #605e5c;
    --color-neutral-800: #3b3a39;
    --color-neutral-900: #201f1e;

    --color-secondary-50: #e8fcf4;
    --color-secondary-100: #d1f9e9;
    --color-secondary-200: #a3f3d3;
    --color-secondary-300: #75edbd;
    --color-secondary-400: #47e7a7;
    --color-secondary-500: #2FCA7E;
    --color-secondary-600: #26a265;
    --color-secondary-700: #1c7a4c;
    --color-secondary-800: #135133;
    --color-secondary-900: #092919;
}