@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
    --color-primary-50: #fef2f2;
    --color-primary-100: #fee2e2;
    --color-primary-200: #fecaca;
    --color-primary-300: #fca5a5;
    --color-primary-400: #f87171;
    --color-primary-500: #F37B7F;
    --color-primary-600: #dc2626;
    --color-primary-700: #b91c1c;
    --color-primary-800: #991b1b;
    --color-primary-900: #7f1d1d;

    --color-neutral-50: #f8fafc;
    --color-neutral-100: #f1f5f9;
    --color-neutral-200: #e2e8f0;
    --color-neutral-300: #cbd5e1;
    --color-neutral-400: #94a3b8;
    --color-neutral-500: #64748b;
    --color-neutral-600: #475569;
    --color-neutral-700: #334155;
    --color-neutral-800: #1e293b;
    --color-neutral-900: #0f172a;

    --color-secondary-50: #f0f4f8;
    --color-secondary-100: #d9e2ec;
    --color-secondary-200: #bcccdc;
    --color-secondary-300: #9fb3c8;
    --color-secondary-400: #829ab1;     
    --color-secondary-500: #627d98;
    --color-secondary-600: #486581;
    --color-secondary-700: #334e68;
    --color-secondary-800: #243b53;
    --color-secondary-900: #272E3F;
}

body{
    font-family: "Raleway", sans-serif;
}

.fi-pagination{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
   