/* ================================
   Fonts
================================ */
@import "https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap";
@import "https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@100,200,300,400,500,700,800,900,1&display=swap";

/* ================================
   Design Tokens / Theme Variables
================================ */
:root {
  /* Fonts */
  --font-body: "Inter", serif;
  --font-heading: "Cabinet Grotesk", sans-serif;

  /* Colors */
  --color-primary: #b8ff90;
  --color-body-color: #061d19;
  --color-body-bg: #f3f3e5;
  --color-dark: #061d19;

  /* Spacing */
  --spacing-15: 60px;
  --spacing-25: 100px;
  --spacing-35: 140px;

  /* Radius */
  --radius-lg: 0.5rem;
  --radius-2xl: 1.25rem;
  
}

/* ================================
   Alpine.js x-cloak
================================ */
[x-cloak] {
  display: none !important;
}

/* ================================
   Base Typography
================================ */
body {
  background-color: var(--color-body-bg);
  font-family: var(--font-body);
  font-size: 1rem;
  line-height: 1.4;
  color: var(--color-body-color);
  overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 1.3; 
  color: var(--color-black);
}

/* ================================
   Forms (Custom UX)
================================ */
input,
textarea {
  background-color: var(--color-white);
  transition: all 0.2s ease-in-out;
  appearance: none;
  --tw-shadow: 0 0 #0000;
}

input:focus,
textarea:focus {
  border-color: #404040;
  box-shadow: none;
  outline: none;
}

/* ================================
   Layout Containers
================================ */
.container {
  max-width: 1360px;
  padding-inline: 1rem;
  margin-inline: auto;
}

@media (min-width: 768px) {
  .container {
    padding-inline: 1.875rem;
  }
}

.container-medium {
  max-width: 1200px;
  padding-inline: 1.25rem;
  margin-inline: auto;
}

@media (min-width: 1024px) {
  .container-medium {
    padding-inline: 1.875rem;
  }
}

.container-small {
  max-width: 980px;
  padding-inline: 1.25rem;
  margin-inline: auto;
}

/* ================================
   Navigation
================================ */
#navbar .active {
  text-decoration: underline;
}

/* ================================
   Overlay / Modal Backdrop
================================ */
.hs-overlay-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(23, 23, 23, 0.5);
}

/* ================================
   Scrollbar Cleanup
================================ */
section {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-x: hidden;
}

section::-webkit-scrollbar {
  display: none;
}



/* ================================
   ICONS
================================ */
.iconify {
    width: 1em;
    height: 1em;
    display: inline-block;
    background-color: currentColor;
  
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
  
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  }
.solar--arrow-to-down-left-outline{
--svg:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' fill-rule='evenodd' d='M17.53 13.97a.75.75 0 0 1 0 1.06l-5 5a.75.75 0 0 1-1.06 0l-5-5a.75.75 0 1 1 1.06-1.06l3.72 3.72V9.5c0-.713-.22-1.8-.859-2.687C9.781 5.965 8.756 5.25 7 5.25a.75.75 0 0 1 0-1.5c2.244 0 3.72.952 4.609 2.187c.861 1.196 1.141 2.61 1.141 3.563v8.19l3.72-3.72a.75.75 0 0 1 1.06 0' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.solar--bolt-linear{
--svg:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-width='1.5' d='m5.67 9.914l3.062-4.143c1.979-2.678 2.969-4.017 3.892-3.734s.923 1.925.923 5.21v.31c0 1.185 0 1.777.379 2.148l.02.02c.387.363 1.003.363 2.236.363c2.22 0 3.329 0 3.704.673l.018.034c.354.683-.289 1.553-1.574 3.29l-3.062 4.144c-1.98 2.678-2.969 4.017-3.892 3.734s-.923-1.925-.923-5.21v-.31c0-1.185 0-1.777-.379-2.148l-.02-.02c-.387-.363-1.003-.363-2.236-.363c-2.22 0-3.329 0-3.703-.673l-.019-.034c-.354-.683.289-1.552 1.574-3.29Z'/%3E%3C/svg%3E");
}

.solar--chart-square-linear{
--svg:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' stroke='black' stroke-width='1.5'%3E%3Cpath d='M2 12c0-4.714 0-7.071 1.464-8.536C4.93 2 7.286 2 12 2s7.071 0 8.535 1.464C22 4.93 22 7.286 22 12s0 7.071-1.465 8.535C19.072 22 16.714 22 12 22s-7.071 0-8.536-1.465C2 19.072 2 16.714 2 12Z'/%3E%3Cpath stroke-linecap='round' d='M7 18V9m5 9V6m5 12v-5'/%3E%3C/g%3E%3C/svg%3E");
}

.solar--dialog-2-bold{
--svg:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' fill-rule='evenodd' d='m10.549 21.528l.25-.423c.4-.677.6-1.015.92-1.204s.736-.202 1.568-.229c.781-.025 1.306-.093 1.755-.279a3.86 3.86 0 0 0 2.086-2.086c.294-.709.294-1.607.294-3.403v-.772c0-2.524 0-3.786-.568-4.713a3.86 3.86 0 0 0-1.273-1.273c-.927-.568-2.19-.568-4.713-.568H8.554c-2.524 0-3.786 0-4.713.568A3.86 3.86 0 0 0 2.568 8.42C2 9.346 2 10.61 2 13.132v.771c0 1.797 0 2.695.293 3.404a3.86 3.86 0 0 0 2.087 2.086c.449.186.973.254 1.754.28c.833.026 1.25.039 1.569.228s.52.527.92 1.204l.25.423a.98.98 0 0 0 1.676 0' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.solar--fire-outline{
    --svg:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-width='1.5' d='M12 2s4 4 4 7a4 4 0 1 1-8 0c0-3 4-7 4-7Z'/%3E%3Cpath fill='none' stroke='black' stroke-width='1.5' d='M12 22a6 6 0 0 0 6-6c0-4-4-8-6-10c-2 2-6 6-6 10a6 6 0 0 0 6 6Z'/%3E%3C/svg%3E");
  }

.solar--headphones-round-outline{
--svg:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' stroke='black' stroke-width='1.5'%3E%3Cpath d='M4 13v3a3 3 0 0 0 3 3h1v-9H7a3 3 0 0 0-3 3Zm16 0v3a3 3 0 0 1-3 3h-1v-9h1a3 3 0 0 1 3 3Z'/%3E%3Cpath stroke-linecap='round' d='M4 13V11a8 8 0 0 1 16 0v2'/%3E%3C/g%3E%3C/svg%3E");
}

.solar--lightbulb-outline{
--svg:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' stroke='black' stroke-width='1.5'%3E%3Cpath d='M9 18h6'/%3E%3Cpath d='M10 22h4'/%3E%3Cpath d='M12 2a7 7 0 0 0-4 12c.5.4 1 .9 1 1.5V17h6v-1.5c0-.6.5-1.1 1-1.5a7 7 0 0 0-4-12Z'/%3E%3C/g%3E%3C/svg%3E");
}

.solar--sale-linear{
--svg:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' stroke='black' stroke-width='1.5'%3E%3Cpath d='M2 10V6a2 2 0 0 1 2-2h4'/%3E%3Cpath d='M14 2h4a2 2 0 0 1 2 2v4'/%3E%3Cpath d='M22 14v4a2 2 0 0 1-2 2h-4'/%3E%3Cpath d='M10 22H6a2 2 0 0 1-2-2v-4'/%3E%3Cpath d='m8 8 8 8'/%3E%3Ccircle cx='9' cy='9' r='1'/%3E%3Ccircle cx='15' cy='15' r='1'/%3E%3C/g%3E%3C/svg%3E");
}

.solar--shield-check-linear{
--svg:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' stroke='black' stroke-width='1.5'%3E%3Cpath d='M12 2 4 5v6c0 5.25 3.438 9.94 8 11c4.563-1.06 8-5.75 8-11V5l-8-3Z'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m9 12 2 2 4-4'/%3E%3C/g%3E%3C/svg%3E");
}

.solar--shield-check-outline{
--svg:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' stroke='black' stroke-width='1.5'%3E%3Cpath d='M12 2 4 5v6c0 5.25 3.438 9.94 8 11c4.563-1.06 8-5.75 8-11V5l-8-3Z'/%3E%3Cpath stroke-linecap='round' d='m9 12 2 2 4-4'/%3E%3C/g%3E%3C/svg%3E");
}

.solar--smartphone-2-outline{
--svg:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' stroke='black' stroke-width='1.5'%3E%3Crect x='7' y='2' width='10' height='20' rx='2'/%3E%3Ccircle cx='12' cy='18' r='1'/%3E%3C/g%3E%3C/svg%3E");
}
.tabler--arrow-left{
    --svg:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' d='M15 6l-6 6l6 6'/%3E%3C/svg%3E");
  }
  
  .tabler--arrow-right{
    --svg:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' d='M9 6l6 6l-6 6'/%3E%3C/svg%3E");
  }
  
  .tabler--brand-dribbble{
    --svg:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Ccircle cx='12' cy='12' r='9' fill='none' stroke='black' stroke-width='1.5'/%3E%3Cpath fill='none' stroke='black' stroke-width='1.5' d='M5 8c4.5 1.5 9 5.5 11 11'/%3E%3Cpath fill='none' stroke='black' stroke-width='1.5' d='M19 6c-4 4-8 6-14 6'/%3E%3Cpath fill='none' stroke='black' stroke-width='1.5' d='M9 19c1-4 3-7 8-9'/%3E%3C/svg%3E");
  }
  
  .tabler--brand-facebook{
    --svg:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-width='1.5' d='M7 10v4h3v7h4v-7h3l1-4h-4V8c0-.5.5-1 1-1h3V3h-3c-3 0-5 2-5 5v2H7Z'/%3E%3C/svg%3E");
  }
  
  .tabler--brand-instagram{
    --svg:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Crect x='4' y='4' width='16' height='16' rx='4' ry='4' fill='none' stroke='black' stroke-width='1.5'/%3E%3Ccircle cx='12' cy='12' r='3' fill='none' stroke='black' stroke-width='1.5'/%3E%3Ccircle cx='16.5' cy='7.5' r='0.5' fill='black'/%3E%3C/svg%3E");
  }
  
  .tabler--brand-linkedin{
    --svg:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Crect x='3' y='3' width='18' height='18' rx='2' fill='none' stroke='black' stroke-width='1.5'/%3E%3Cpath fill='black' d='M7 10h2v7H7zM8 7a1 1 0 1 0 0 2a1 1 0 0 0 0-2Z'/%3E%3Cpath fill='none' stroke='black' stroke-width='1.5' d='M11 10h2a3 3 0 0 1 3 3v4h-2v-4a1 1 0 0 0-1-1h-2v5h-2v-7Z'/%3E%3C/svg%3E");
  }
  
  .tabler--brand-meta{
    --svg:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-width='1.5' d='M5 8c0-2 2-4 4-4c2.5 0 3.5 4 3.5 8c0 3.5-1 6-3.5 6c-2 0-4-2-4-4c0-1.5 1.5-3 3-3c1.2 0 2.2 1 3 2c.8-1 1.8-2 3-2c1.5 0 3 1.5 3 3c0 2-2 4-4 4c-2.5 0-3.5-2.5-3.5-6c0-4 1-8 3.5-8c2 0 4 2 4 4'/%3E%3C/svg%3E");
  }
  
  .tabler--brand-x{
    --svg:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M4 4l7.5 8.5L4 20h3l6-6.5L18 20h3l-7.5-8.5L21 4h-3l-5.5 6L7 4H4Z'/%3E%3C/svg%3E");
  }
  
  .tabler--carambola{
    --svg:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-width='1.5' d='M12 2l3 7l7 3l-7 3l-3 7l-3-7l-7-3l7-3l3-7Z'/%3E%3C/svg%3E");
  }
  
  .tabler--check{
    --svg:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' d='M5 12l5 5l9-9'/%3E%3C/svg%3E");
  }
  
  .tabler--chevron-down{
    --svg:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' d='M6 9l6 6l6-6'/%3E%3C/svg%3E");
  }
  
  .tabler--chevron-left{
    --svg:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' d='M15 6l-6 6l6 6'/%3E%3C/svg%3E");
  }
  
  .tabler--chevron-right{
    --svg:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' d='M9 6l6 6l-6 6'/%3E%3C/svg%3E");
  }
  
  .tabler--circle-check{
    --svg:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Ccircle cx='12' cy='12' r='9' fill='none' stroke='black' stroke-width='1.5'/%3E%3Cpath fill='none' stroke='black' stroke-width='1.5' d='M8 12l3 3l5-5'/%3E%3C/svg%3E");
  }
  
  .tabler--file-text{
    --svg:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-width='1.5' d='M7 3h6l5 5v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1Z'/%3E%3Cpath fill='none' stroke='black' stroke-width='1.5' d='M9 13h6M9 17h4M9 9h2'/%3E%3C/svg%3E");
  }
  
  .tabler--menu-2{
    --svg:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-width='1.5' stroke-linecap='round' d='M4 6h16M4 12h16M4 18h16'/%3E%3C/svg%3E");
  }
  
  .tabler--minus{
    --svg:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-width='1.5' stroke-linecap='round' d='M5 12h14'/%3E%3C/svg%3E");
  }
  
  .tabler--player-pause-filled{
    --svg:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M7 5h4v14H7zM13 5h4v14h-4z'/%3E%3C/svg%3E");
  }
  
  .tabler--player-play-filled{
    --svg:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M8 5v14l11-7Z'/%3E%3C/svg%3E");
  }
  
  .tabler--plus{
    --svg:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-width='1.5' stroke-linecap='round' d='M12 5v14M5 12h14'/%3E%3C/svg%3E");
  }
  
  .tabler--settings{
    --svg:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-width='1.5' d='M12 8a4 4 0 1 0 0 8a4 4 0 0 0 0-8Z'/%3E%3Cpath fill='none' stroke='black' stroke-width='1.5' d='M3 12h2m14 0h2M12 3v2m0 14v2m-6.36-4.36l1.41-1.41m9.9-9.9l1.41-1.41m0 14.14l-1.41-1.41m-9.9-9.9l-1.41-1.41'/%3E%3C/svg%3E");
  }
  
  .tabler--star-filled{
    --svg:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M12 2l3 7l7 1l-5 5l1 7l-6-3l-6 3l1-7l-5-5l7-1l3-7Z'/%3E%3C/svg%3E");
  }
  
  .tabler--star-half-filled{
    --svg:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M12 2v17l-6 3l1-7l-5-5l7-1l3-7Z'/%3E%3Csvg xmlns='http://www.w3.org/2000/svg'%3E");
  }
  
  .tabler--video{
    --svg:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Crect x='3' y='6' width='15' height='12' rx='2' ry='2' fill='none' stroke='black' stroke-width='1.5'/%3E%3Cpolygon points='16,10 22,7 22,17 16,14' fill='none' stroke='black' stroke-width='1.5'/%3E%3C/svg%3E");
  }
  
  .tabler--x{
    --svg:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-width='1.5' stroke-linecap='round' d='M6 6l12 12M6 18L18 6'/%3E%3C/svg%3E");
  }
  