/* ================================
   Fonts
================================ */
@import "https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap";
@import "https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@100,200,300,400,500,700,800,900,1&display=swap";
@import "./icon.css";

/* ================================
   Design Tokens / Theme Variables
================================ */
:root {
  /* Fonts */
  --font-body: "Inter", serif;
  --font-heading: "Cabinet Grotesk", sans-serif;

  /* Colors */
  --color-primary: #b8ff90;
  --color-body-color: #061d19;
  --color-body-bg: #f3f3e5;
  --color-dark: #061d19;

  /* Spacing */
  --spacing-15: 60px;
  --spacing-25: 100px;
  --spacing-35: 140px;

  /* Radius */
  --radius-lg: 0.5rem;
  --radius-2xl: 1.25rem;
  
}

/* ================================
   Alpine.js x-cloak
================================ */
[x-cloak] {
  display: none !important;
}

/* ================================
   Base Typography
================================ */
body {
  background-color: var(--color-body-bg);
  font-family: var(--font-body);
  font-size: 1rem;
  line-height: 1.4;
  color: var(--color-body-color);
  overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 1.3; 
  color: var(--color-black);
}

/* ================================
   Forms (Custom UX)
================================ */
input,
textarea {
  background-color: var(--color-white);
  transition: all 0.2s ease-in-out;
  appearance: none;
  --tw-shadow: 0 0 #0000;
}

input:focus,
textarea:focus {
  border-color: #404040;
  box-shadow: none;
  outline: none;
}

/* ================================
   Layout Containers
================================ */
.container {
  max-width: 1360px;
  padding-inline: 1rem;
  margin-inline: auto;
}

@media (min-width: 768px) {
  .container {
    padding-inline: 1.875rem;
  }
}

.container-medium {
  max-width: 1200px;
  padding-inline: 1.25rem;
  margin-inline: auto;
}

@media (min-width: 1024px) {
  .container-medium {
    padding-inline: 1.875rem;
  }
}

.container-small {
  max-width: 980px;
  padding-inline: 1.25rem;
  margin-inline: auto;
}

/* ================================
   Navigation
================================ */
#navbar .active {
  text-decoration: underline;
}

/* ================================
   Overlay / Modal Backdrop
================================ */
.hs-overlay-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(23, 23, 23, 0.5);
}

/* ================================
   Scrollbar Cleanup
================================ */
section {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-x: hidden;
}

section::-webkit-scrollbar {
  display: none;
}


